#container{
    width: 800px;
    margin: 80px auto;
    background-color: red;
    padding: 16px;
}

#grid{
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

button {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

#button-area {
    display: flex;
    justify-content: space-between;
}

.button-container {
    text-align: center;
    font-size: 24px;
    color: gold;
    font-weight: bold;
}