body {
    background-color:bisque;
}
#container{
    width: 800px;
    margin: 80px auto;
    background-color: red;
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 20px;
}

#title-container {
    display: flex;
    width: 640px;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    color: gold;
    font-size: 24px;

}

#title {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    font-size: 30px;
    font-weight: bold;
}

#grid{
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    border: 20px none red;
    border-radius: 10px;
    padding: 10px;
    
}

button {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border-style: none;
}

#button-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.button-container {
    text-align: center;
    font-size: 24px;
    color: gold;
    font-weight: bold;
}